.vita-section {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    height: auto;

    .vita-left {
        width: 60%;
        align-content: center;
        text-align: center;
        line-height: 1.5;

        p {
            width: 50%;
            margin: 0 auto;
        }

        .education-ul li {
            text-decoration: none;
        }

        
}
    }
    .books {
        margin: 1rem 0;
    }

    .vita-right {
        width: 60%;
        align-content: center;
        text-align: center;
        line-height: 1.5;

        p {
            width: 50%;
            margin: 0 auto;
        }
    }

    .vita-left h3,
        .vita-right h3 {
        margin-top: 1.5rem;
   
    
}