@import '../scss//_variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --primary: hsla(204, 31%, 13%, 0.85);
  --secondary: hsla(200, 33%, 34%, 0.85);

}

html {
  scroll-behavior: smooth;
  line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}



ul {
  list-style-type: none;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

p {
  font-family: $global-font;
}



.section-title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  color: black;
}

/* Fonts */
/* 
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; 
*/

/* 
RiDoubleQuotesL
RiDoubleQuotesR
*/


