//variables
@import '../../scss/_variables';

.navbar {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    height: auto;
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    background: white;
    opacity: 0.75;
    font-family: $nav-font;
    
        button {
            border: none;
            background-color: white;
        }

        .name {
            font-family: $nav-font !important;
            padding-left: 2rem;
            font-weight: 700;
            &:hover {
                color: rgb(70, 68, 68);
            }
            
        }

        
        .logo {
            position: relative;
            padding-left: 2rem;
            img {
                width: 4rem;
                height: 4rem;
                position: relative;
                top: 5px;
                
            }

        }
        
    
    
    span {
        font-size: 1.5rem;
    }

    .name {
        font-size: 2rem;
        color: black;
        font-weight: 600;
        text-decoration: none;
        cursor: pointer;
        
    }

    ul {
        list-style-type: none;
        padding-right: 2rem;
    }

    li {
        padding-left: 2rem;
        position: relative;

        
        
    }

    .links {
        
        display: flex;
        list-style: none;
        font-size: 30px;
        

        a {
            color: black;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.5rem;
           

            &:hover {
                color: rgb(70, 68, 68);
                
            }
        }

        
        
    }


}